<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>image to pdf</title>
    
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>image to pdf</h1>
            </div>
            <div class="col-12">
                <form action="/upload" class="form-inline" method="post" enctype="multipart/form-data">
                    <input type="file" class="form-control" name="avatar" id="fileAvater">
                    <input type="submit" class="btn btn-primary ml-3" value="Convert">
                </form>
            </div>
        </div>
    </div>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css'/>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.js'></script>
    <script>

    </script>
</body>
</html>